<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap & MDB -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@{{ site.bootstrap.version }}/dist/css/bootstrap.min.css"
  integrity="{{ site.bootstrap.integrity.css }}"
  crossorigin="anonymous"
/>

<!-- Fonts & Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@{{ site.fontawesome.version }}/css/all.min.css" integrity="{{ site.fontawesome.integrity }}" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@{{ site.academicons.version }}/css/academicons.min.css" integrity="{{ site.academicons.integrity }}" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:100,300,400,500,700|Material+Icons" />

<!-- Code Syntax Highlighting -->
<link rel="stylesheet" href="{{ '/assets/css/jekyll-pygments-themes-github.css' | relative_url }}" media="" id="highlight_theme_light" />

<!-- Styles -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />

<!-- Dark Mode -->
{% if site.enable_darkmode %}
  <link rel="stylesheet" href="{{ '/assets/css/jekyll-pygments-themes-native.css' | relative_url }}" media="none" id="highlight_theme_dark" />
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
{% endif %}

<title>
  {%- if page.title == "blank" -%}
    {{ site.title }}
  {%- else -%}
    {{ page.title }} | {{ site.title }}
  {%- endif -%}
</title>

<meta name="description" content="{{ page.description | default: site.description }}" />

<!-- Open Graph / Social -->
{% if site.serve_og_meta %}
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:description" content="{{ page.description | default: site.description }}" />
  {% if page.og_image or site.og_image %}
    <meta property="og:image" content="{{ page.og_image | default: site.og_image | absolute_url }}" />
  {% endif %}
{% endif %}

<link rel="icon" data-emoji="{{ site.icon }}" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{ site.icon }}</text></svg>" />
